html {

	background-color: #FF0000;
}
#myid {
	color: #fff;
	background-color: #FF0000;
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: sans-serif;
	vertical-align: middle;
	text-align: center;
}
#ul {
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	list-style-type: none;
	font-size: 14px;
	width: 100%;
}

.listItems {

	font-size: 100px;
}

#input {
  display : inline;
  width: 200px;
  height: 20px;
}

